# Introduction

Though there are a number of ways you can go about tackling this project, we recommend using NumPy and pandas. Using these libraries is the industry standard for working with data in Python. In the quizzes in this and the following sections, you will get some practice using NumPy and pandas to complete different parts of the project. Then for the project, you will need to piece your code together with some additional code to complete a final project! These sections will likely be helpful if you use NumPy and pandas to complete the project.

# Understanding the Data

Let's use pandas to better understand the bike share data! Use this code editor to explore chicago.csv and answer the questions below. The file included here is a mini version of one of the actual data files you will work with for the project. It only includes 400 rows, but the structure and columns are the same.

#1. What columns are in this dataset?
#2. Are there any missing values?
#3. What are the different types of values in each column?
#4. Some useful pandas methods:

In [1]:
#df.head()
#df.columns
#df.describe()
#df.info()
#df['column_name'].value_counts()
#df['column_name'].unique()

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("chicago.csv")

In [4]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,29/05/2017 18:36,29/05/2017 18:49,780,Columbus Dr & Randolph St,Federal St & Polk St,Subscriber,Male,1991.0
1,12/06/2017 19:00,12/06/2017 19:24,1429,Kingsbury St & Erie St,Orleans St & Merchandise Mart Plaza,Customer,NaN,NaN
2,13/02/2017 17:02,13/02/2017 17:20,1088,Canal St & Madison St,Paulina Ave & North Ave,Subscriber,Female,1982.0
3,24/04/2017 18:39,24/04/2017 18:54,914,Spaulding Ave & Armitage Ave,California Ave & Milwaukee Ave,Subscriber,Male,1966.0
4,26/01/2017 15:36,26/01/2017 15:43,434,Clark St & Randolph St,Financial Pl & Congress Pkwy,Subscriber,Female,1983.0

In [5]:
df.columns

Index(['Start Time', 'End Time', 'Trip Duration', 'Start Station',
       'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

In [6]:
df.describe()

       Trip Duration   Birth Year
count     400.000000   330.000000
mean      938.215000  1980.533333
std      2466.972184    11.723011
min        97.000000  1949.000000
25%       407.000000  1973.000000
50%       634.000000  1984.000000
75%       997.750000  1989.000000
max     47551.000000  1999.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Start Time     400 non-null    object
 1   End Time       400 non-null    object
 2   Trip Duration  400 non-null    int64
 3   Start Station  400 non-null    object
 4   End Station    400 non-null    object
 5   User Type      400 non-null    object
 6   Gender         330 non-null    object
 7   Birth Year     330 non-null    float64
dtypes: float64(1), int64(1), object(6)
memory usage: 25.1+ KB

In [8]:
df['Start Station'].value_counts().head()

Streeter Dr & Grand Ave                10
Orleans St & Merchandise Mart Plaza     9
Clinton St & Washington Blvd            8
Dusable Harbor                          7
Kingsbury St & Kinzie St                6
Name: Start Station, dtype: int64

In [9]:
df['End Station'].value_counts().head()

Clinton St & Washington Blvd    8
Streeter Dr & Grand Ave         7
Lake Shore Dr & Monroe St       6
Canal St & Madison St           6
LaSalle St & Jackson Blvd       6
Name: End Station, dtype: int64

In [10]:
df['User Type'].value_counts()

Subscriber    330
Customer       70
Name: User Type, dtype: int64

In [11]:
df['Gender'].value_counts()

Male      244
Female     86
Name: Gender, dtype: int64

In [12]:
df['Birth Year'].value_counts().head()

1989.0    24
1990.0    23
1986.0    21
1984.0    20
1985.0    18
Name: Birth Year, dtype: int64

In [13]:
df['Start Station'].value_counts().head().index[0]

'Streeter Dr & Grand Ave'